.popup__close {
  width: 20px;
  height: 20px;
  margin-bottom: 16px;
  margin-left: auto;
  background-color: black;
  background-image: url(../../../images/Close\ Icon.svg);
  background-position: center;
  display: flex;
  justify-content: end;
}

@media screen and (min-width: 1280px) {
  .popup__close {
    width: 32px;
    height: 32px;
    margin-left: auto;
    background-size: 32px 32px;
  }
}
