.profile__add {
  width: 282px;
  height: 50px;
  margin-top: 36px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-image: url(../../../images/добавить.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

@media screen and (min-width: 1280px) {
  .profile__add {
    max-width: 150px;
    max-height: 50px;
    background-size: 22px 22px;
  }
}
