.popup__info {
  width: 238px;
  padding-top: 30px;
  margin: 0;
  margin-left: 22px;
  margin-right: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  display: flex;
  justify-content: end;
}
