.popup__input-error {
  width: 238px;
  min-height: 12px;
  width: 100%;
  color: red;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  display: block;
  opacity: 0;
  margin-top: 5px;
  margin-bottom: 13px;
}
