.popup__name {
  max-width: 238px;
  padding: 0;
  padding-top: 75px;
  margin: 0;
  margin-left: 22px;
  margin-right: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .popup__name {
    padding-top: 54px;
    margin-left: 36px;
    margin-right: 36px;
  }
}
